<div class="search" id="search-box">

  <label for="name">Search: </label>

    <input ng-model="query" placeholder="Find a car" type="text" autofocus>

</div> <!-- #search-box -->
<section id="car-results-list">

  <article class="single-car" ng-repeat="item in carData | filter: query">
       
    <!--
      Wrap all car info in an <a> we can click to a single car partial
    -->
    <a href="#/details/{{ carData.indexOf( item ) }}" class="car-link">
  
      <div>

        <!-- For images, remember <img ng-src=""> -->

        <h2>{{ item.car_name }}</h2>

        <p>{{ item.car_type }}</p>
        <p>{{ item.car_year }}</p>

      </div>

      </a> <!-- .car-link -->

    </article> <!-- .single-car-result -->

</section> <!-- #car-results-list -->