<!doctype html>
<html lang="en" ng-app="carSearch">
<head>
  <meta charset="UTF-8">
  <title>Fake Uber</title>
  
  <script src="js/libs/angular.min.js"></script>
  <script src="js/SearchController.js"></script>
</head>

<body>

  <!-- Bind a controller that's part of our Angular app to the page -->
  <div id="form-container" ng-controller="SearchController">

    <div class="search" id="search-box">

      <label for="name">Search: </label>

      <input ng-model="query" placeholder="Find a car" type="text" autofocus>

    </div> <!-- #search-box -->

    <section id="car-results">
       
      <h1>Your search results...</h1>

      <article class="single-car-result" ng-repeat="item in carData | filter: query">

        <!-- For images, remember <img ng-src=""> -->

        <h2>{{ item.car_name }}</h2>

        <p>{{ item.car_type }}</p>
        <p>{{ item.car_year }}</p>

      </article>

    </section> <!-- #car-results -->

  </div> <!-- #form-container -->
</body>
</html>