/* ================================================================= */
/* FADE IN THE SEARCH BOX                                            */
/* ================================================================= */
 @keyframes fade-in-logo {
  0%   { opacity: 0; transform: translateY( 0px ); }
  100% { opacity: 1; transform: translateY( 75px ); }
}

.logo-fade {
  -webkit-animation-name: fade-in-logo;
  -webkit-animation-duration: .4s;
  -webkit-animation-timing-function : ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  animation-name: fade-in-logo;
  animation-duration: .4s;
  animation-timing-function : ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


 @keyframes fade-in-searchbox {
  0%   { opacity: 0; transform: translateY( 0px ); }
  100% { opacity: 1; transform: translateY( -75px ); }
}

.searchbox-fade {
  -webkit-animation-name: fade-in-searchbox;
  -webkit-animation-duration: .4s;
  -webkit-animation-timing-function : ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  animation-name: fade-in-searchbox;
  animation-duration: .4s;
  animation-timing-function : ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move-search-box-up {
  0%   { transform: translateY( 0px ); }
  100% { transform: translateY( -55px ); }
}
.search-container-up {
  -webkit-animation-name: move-search-box-up;
  -webkit-animation-duration: .3s;
  -webkit-animation-timing-function : ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  animation-name: move-search-box-up;
  animation-duration: .3s;
  animation-timing-function : ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}










@keyframes move-search-box-down {
  0%   { transform: translateY( -55px ); }
  100% { transform: translateY( 0px ); }
}
.search-container-down {
  -webkit-animation-name: move-search-box-down;
  -webkit-animation-duration: .3s;
  -webkit-animation-timing-function : ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  animation-name: move-search-box-down;
  animation-duration: .3s;
  animation-timing-function : ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}