/* Style the core containing element */
.container-class {
  width:300px;
  margin: 0 auto;
  padding: 50% 0;

  background-color: #f5f5f5;
}

/* Animation for a single cal link */
.single-car-result {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.single-car-result:hover {
 opacity: .5;
}