#inner-container
  h1(class="logo-fade")
    |"Fake Uber"
  div(class="searchbox-container searchbox-fade" id="search-box")
    input(ng-model="query" ng-focus="searchElementsUp()" ng-blur="searchElementsDown()" ng-value="" class="searchbox" placeholder="Schedule a car pick-up..." type="text" id="kai")

section(id="car-results-list" ng-show="query" class="car-results-container")
  article(class="single-car-result" ng-repeat="item in carData | filter: query")
    a(href="#/details/{{ carData.indexOf( item ) }}" class="car-link")
      div
        h2 {{ item.car_name }}
        p {{ item.car_type }}
        p {{ item.car_year }}