script(src="js/libs/angular.min.js")
script(src="js/libs/angular-route.min.js")
script(src="js/app.js")
script(src="js/carSearchControllers.js")
script(src="http://code.jquery.com/jquery-2.0.3.min.js")